{% extends "base.html" %}

{% block content %}

<div class="card-wrapper-first">
    
    <div class="card">
        <h1 class="center blackfont">Services</h1>

        <div class="center">
            <div class="service-buttons">
                {% for service in service_data %}
                    {% if 'default' in service['permission'] %}
                        <a href="{{ service['serviceaddress'] }}" target="_blank">
                            <button>{{ service['name'] }}</button>
                        </a>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>

        <div class="card-signup">
    
            <h1 class="center blackfont">Login/Register</h1>
            <div class="center">
                <a href="/user/login" class="btn">Log In</a>
                <a href="/user/registry" class="btn btn--secondary">Sign up</a>
            </div>
        </div>

</div>





{% endblock %}