{% extends "base.html" %}

{% block content %}

<h1 class="center">Admin Dashboard</h1>

    <div class="card-wrapper">
        <div class="card">

            <h2 class="center">Your Info</h2>

            <p>
                <strong>ID:</strong> {{ session['user']['_id'] }}
                <strong>Name:</strong> {{ session['user']['name'] }}
                <strong>Email:</strong> {{ session['user']['email'] }}
            </p>
        </div>

        <div class="card">

            <h1 class="center blackfont">Admin Dashboard</h1>
            <p class="center">You are currently logged in.</p>

            <div class="center">
                <a href="/user/signout" class="btn btn--attention">Sign Out</a>
            </div>
        </div>

        <div class="card">

            <h1 class="center blackfont">Delete All Database Records</h1>
            <p class="center">Caution, this will delete all data permanently!</p>

            <div class="center">
                <a href="/user/admin/delete_all" class="btn btn--attention"
                onclick="return confirm('Are you sure you want to Delete All Database Records?');"
                >Delete</a>
            </div>
        </div>

        <div class="card">

            <h1 class="center blackfont">Delete All Services</h1>
            <p class="center">Caution, this will delete all data permanently!</p>

            <div class="center">
                <a href="/user/admin/delete_service_all" class="btn btn--attention"
                onclick="return confirm('Are you sure you want to Delete All Database Records about Services?');"
                >Delete</a>
            </div>
        </div>

    </div>
    <h1><strong>Services:</strong></h1>
    <div class="field">
        <button class="open-button" onclick="openForm()">Create Service</button>

        <div class="form-popup" id="myForm">
            <form action="/action_page.php" class="form-container" name="create_service_form">
                <h2>Create Service</h2>
    
                <label for="name">Name:</label>
                <input type="text" id="name" name="name" required><br>
                <label for="serviceaddress">Address:</label>
                <input type="url" id="serviceaddress" name="serviceaddress" placeholder="https://capybara.pp.ua" 
                pattern="https://.*" size="30" required /><br>
                <label for="permission">Permission:</label>
                <select name="permission" id="permission">
                    <option value="default" selected>default</option>
                    <option value="admin">admin</option>
                    <option value="java">Java</option>
                </select>
                <label for="enabled">Enabled:</label>
                <input type="checkbox" id="enabled" name="enabled"><br>
                <button type="submit" class="btn btn--attention">Create</button>
                <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
            </form>
        </div>
        {% for service in service_data %}
        <div>
            <div>
                <strong>Name:</strong> {{ service['name'] }}<br>
                <strong>Adress:</strong> <a href="{{ service['serviceaddress'] }}">{{ service['serviceaddress'] }}</a><br>
                <strong>Permission:</strong> {{ service['permission'] }}<br>
                <strong>Enabled:</strong> {{ service['enabled'] }}<br>
                <div>
                    <a href="{{ url_for('service_delete', id=service['_id']) }}" class="btn btn--attention">Delete</a>
                    <a href="{{ url_for('service_update_data', id=service['_id']) }}" class="btn">Change</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <h1><strong>All Users:</strong></h1>
    <div class="field">
        {% for data in data_db %}
        <div>
            <div>
                <strong>Name:</strong> {{ data['name'] }}<br>
                <strong>Administrator:</strong> {{ data['administrator'] }}<br>
                <strong>Roles:</strong> {{ data['roles'] }}<br>
                <div>
                    <a href="{{ url_for('admin_delete_record', id=data['_id']) }}" class="btn btn--attention">Delete</a>
                    <a href="{{ url_for('user_role_update', id=data['_id']) }}" class="btn">Change</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}  
